<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

    <table class="job-listing">
            <th:block th:each="job : ${jobs}" >
                <tr>
                <td th:text = "${job.getId}">Id: </th>
                </tr>
                <tr>
                    <td th:text = "${job.getName}"></th>
                </tr>
                <tr>
                    <td th:text = "${job.getEmployer}"></th>
                </tr>
                <tr>
                    <td th:text = "${job.getLocation}"></th>
                </tr>
               <tr>
                   <td th:text = "${job.getCoreCompetency}"></th>
               </tr>

            </th:block>


    </table>

</div>

</body>
</html>